    <div class='main-header'>
        <div class='header-icon'>
            <a href='/'><img src='/img/logo.png'/></a>
        </div>
        <div class='header-name'>Masters Calculators</div>
    </div>