<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="home" width="30" height="24" class="d-inline-block align-text-top">
            Masters Calculators
        </a>
    </div>
</nav>