<nav class="navbar navbar-light bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="home" width="30" height="24">
        </a>
    </div>
</nav>