<%- include ('partials/headerhtml.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>

            <% cards.forEach((card)=> { %>
                <h3>
                    <%= card.title %>
                </h3>
                <% }) %>

    </body>
    <%- include ('partials/footerhtml.ejs') %>